.form {
  width: 300px;
  margin: 0 auto;
  border: 1px solid tomato;
  border-radius: 10px;
  padding: 10px;
}

.form-controls {
  text-align: left;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
